<div class="navbar navbar-fixed-bottom">
	<footer id="footer">
		<div id="footer-bottom">
			<div class="row">

				<div class="col-md-5 col-sm-5 col-xs-12">
					<p>&copy; 2015 Powered by <a href="http://www.geeklabs.co.in">Geek Labs.</a> &trade;. All Rights Reserved.</p>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<p align="right">
						Designed and Developed By <a href="http://www.geeklabs.co.in">Geek Labs.</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<a title="Scroll to Top" id="scroll-top" href="#" class=""><i class="fa fa-angle-up"></i></a>