<script type="text/javascript" src="../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../resources/js/smoothscroll.js" th:src="@{/resources/js/smoothscroll.js}"></script>
<script type="text/javascript" src="../resources/js/retina-1.1.0.min.js" th:src="@{/resources/js/retina-1.1.0.min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.placeholder.js" th:src="@{/resources/js/jquery.placeholder.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.validate.min.js" th:src="@{/resources/js/jquery.validate.min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.validate.min.js" th:src="@{/resources/js/additional-methods.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.hoverIntent.min.js" th:src="@{/resources/js/jquery.hoverIntent.min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.flexslider-min.js" th:src="@{/resources/js/jquery.flexslider-min.js}"></script>
<script type="text/javascript" src="../resources/js/owl.carousel.min.js" th:src="@{/resources/js/owl.carousel.min.js}"></script>
<script type="text/javascript" src="../resources/js/jflickrfeed.min.js" th:src="@{/resources/js/jflickrfeed.min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.prettyPhoto.js" th:src="@{/resources/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.sequence-min.js" th:src="@{/resources/js/jquery.sequence-min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.nouislider.min.js" th:src="@{/resources/js/jquery.nouislider.min.js}"></script>
<script type="text/javascript" src="../resources/js/bootstrap-growl.min.js" th:src="@{/resources/js/bootstrap-growl.min.js}"></script>
<script type="text/javascript" src="../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
<script type="text/javascript" src="../resources/js/angular.min.js" th:src="@{/resources/js/angular.min.js}"></script>

<!-- TO GET THE CONTEXT PATH IN THE JAVASCRIPT -->
<!--http://pharmacymanagementsystm.appspot.com http://localhost:8895   http://pharmacymanagementsys.appspot.com-->
<input type="hidden" id="contextPath" th:value="@{/}" />   
<script type="text/javascript">
var contextPath = $("#contextPath").val();
$(function(){
	if($("#loginerror").length > 0){
		$(".bs-example-modal-sm").modal("show");
	}
});
</script>