<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-12 logo-container">
				<h1 class="logo clearfix">
					<div class="sequencebg">
						<img src="../resources/images/pms.png"
							th:src="@{/resources/images/pms.png}"
							class="sequencebg-image" />
					</div>
				</h1>
			</div>
			<div class="header-top-right">
				<div class="header-text-container pull-right">
					<span sec:authorize="hasAnyRole('ROLE_USER')">
						Welcome <span sec:authentication="name">User</span> <a
						href="/logout" th:href="@{/logout}"><font color="blue">Logout</font></a>
					</span>
				</div>
			</div>
		</div>
	</div>

<div class="xs-margin"></div>
	<div id="main-nav-container">
		<ul class="nav nav-pills">
			<!-- class="nav nav-tabs" -->
			<li><a href="/home" th:href="@{/home}" sec:authorize="hasAnyRole('ROLE_USER')">Home</a></li>
			<li><a href="/home" th:href="@{/medicine}" sec:authorize="hasAnyRole('ROLE_USER')">Medicine</a></li>
			<li><a href="/home" th:href="@{/rack}" sec:authorize="hasAnyRole('ROLE_USER')">Rack</a></li>
			<li><a href="/home" th:href="@{/expire}" sec:authorize="hasAnyRole('ROLE_USER')">Expire</a></li>
			<li><a href="/home" th:href="@{/billing}" sec:authorize="hasAnyRole('ROLE_USER')">Billing</a></li>
		</ul>
	</div>

</header>