<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Add Billing</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>Billing</li>
						<li class="active">AddBilling</li>
					</ul>
				</div>
			</div>
			<div class="container clearfix" ng-controller="BillingCtrl">
				<div class="row">
					<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Add Billing Form</h1>
						</header>
						<div th:replace="fragments/errormessage"></div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<fieldset>
									<div class="md-margin"></div>
									<div class="input-group">
										<span class="input-group-addon"><span class=""></span><span class="input-text">Date(DD/MM/YYYY)*</span></span>
											<input type="text" id="currentDate" class="form-control" ng-model="currentDate" placeholder="DD/MM/YYYY" onblur="validateDate()" required="required"/>
										<!-- <div class="input-group">
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{currentDate | date:'dd-MM-yyyy'}}</span>
										</div> -->

									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class=""></span><span class="input-text">Doctor Name* </span></span>
										<p>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="drName" value="Dr.R.Srinivas"
												ng-model="medicineBills.drName" required="required" /> Dr.R.Srinivas &nbsp;&nbsp;<input type="radio" name="drName"
												value="Dr.R.Vasudha" ng-model="medicineBills.drName" required="required"/> Dr.R.Vasudha
										</p>
									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class=""></span><span class="input-text">Patient Name*</span></span> <input
											type="text" class="form-control" ng-model="medicineBills.patientName" required="required" />
									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class=""></span><span class="input-text">Patient ID*</span></span> <input
											type="text" class="form-control" ng-model="medicineBills.patientId" id="patientId" readonly="readonly" />
									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class=""></span><span class="input-text">Bill No*</span></span> <input
											type="text" class="form-control" ng-model="medicineBills.billNo" id="billNo" readonly="readonly" />
									</div>
								</fieldset>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
									<header class="content-title">
										<h1 class="title">Billing Info</h1>
									</header>
								<button class="btn green" ng-click="showAddMedicineModel();">Add Medicine</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="button" class="btn orange btn-sm" ng-click="printBill('printableArea')">Print Bill</button>
								<br/>
								<div class="ng-hide" id="printableArea" ng-hide="printForm">

									<header>
										<h5 align="left">D.L.No 20/21/02/NZ/TG/2005/R &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											CASH-MEMO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
											Ph: 223447, Cell:9440485410</h5>
										<h5 align="left">T.O.T Nzb/03/1051</h5>
										<h6 align="left">Bill No: {{billNo}}</h6>

										<h2 align="center">+ S.V.N MEDICAL and SURGICALS +</h2>
										<h4 align="center">Mamidipally 'X' Road, ARMOOR- 503224</h4>
										<h4 align="left">Date:{{currentDate | date:'dd-MM-yyyy HH:mm:ss'}}</h4><br />
										<h4 align="left">Patient Name:{{patientName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctor Name: {{drName}}</h4>
									</header>
									<br />
									<table class="table table-borderd">
										<thead>
											<tr>
												<th class="table-title al">SN</th>
												<th class="table-title al">Particular</th>
												<th class="table-title al">Quantity</th>
												<th class="table-title al">Price(1 item)</th>
												<th class="table-title al">Schdl(H/L)</th>
												<th class="table-title al">Company</th>
												<th class="table-title al">Batch No.</th>
												<th class="table-title al">Manufacture Date</th>
												<th class="table-title al">Expire Date</th>
												<th class="table-title al">Amount</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="billing in billings">
											<td class="al">{{$index+1}}</td>
											<td class="al">{{billing.medicineName}}</td>
											<td class="al">{{billing.quantity}}</td>
											<td class="al">{{billing.price}}</td>
											<td class="al">{{billing.scheduleType}}</td>
											<td class="al">{{billing.manufactureCompany}}</td>
											<td class="al">{{billing.batchNo}}</td>
											<td class="al">{{billing.manufactureDate}}</td>
											<td class="al">{{billing.expireDate}}</td>
											<td class="al">{{billing.totalPrice}}</td>
											</tr>
										</tbody>
									</table>
									 <br />
									<h4 align="right">Total : {{ getTotalBill() }}</h4>
									<br />
									<footer>
									<h4 align="left">Note: Goods once sold can not taken back.</h4>
									<h4 align="right">Signature.</h4>
									</footer>
								</div>

								<table class="table table-borderd">
									<thead>
										<tr>
											<th class="table-title">SN</th>
											<th class="table-title">Medicine Name</th>
											<th class="table-title al">Quantity</th>
											<th class="table-title al">Price(Per 1 Item)</th>
											<th class="table-title al">Schedule Type</th>
											<th class="table-title al">Batch No.</th>
											<th class="table-title al">Manufacturing Company</th>
											<th class="table-title al">Manufacture Date</th>
											<th class="table-title al">Expire Date</th>
											<th class="table-title al">Total Price</th>
											<th class="table-title">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="billing in billings">
											<td>{{$index+1}}</td>
											<td class="al">{{billing.medicineName}}</td>
											<td class="al">{{billing.quantity}}</td>
											<td class="al">{{billing.price}}</td>
											<td class="al">{{billing.scheduleType}}</td>
											<td class="al">{{billing.batchNo}}</td>
											<td class="al">{{billing.manufactureCompany}}</td>
											<td class="al">{{billing.manufactureDate}}</td>
											<td class="al">{{billing.expireDate}}</td>
											<td class="al">{{billing.totalPrice}}</td>
											<td>
												<table>
													<tr>
														<td>
															<div class="btn green">
																<a th:href="@{/billing/update/{{billing.id}}}" role="button"><span
																	class="glyphicon glyphicon-pencil" /></a>
															</div>
														</td>
														<td>
															<div>
																<button class="btn red" type="button" title="Delete" ng-click="deleteBilling();">
																	<span class="glyphicon glyphicon-trash" />
																</button>
															</div>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<!-- pop up for Course -->
						<div class="modal fade add-medicine-modal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Add Medicine</h4>
									</div>
									<div class="modal-body">
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Medicine Name*</span></span> <select
												class="form-control" ng-model="medicineItem"
												ng-options="medicine as medicine.medicineName for medicine in medicines"
												data-ng-change="updateMedicineDetails();">
												<option value="">Select Medicine</option>
											</select>
										</div>
										<!-- <div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Medicine Name*</span></span> 
												<input type="text" />
										</div> -->
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Quantity*</span></span> <input
												type="number" class="form-control" ng-model="medicineBills.quantity" id="quantity"
												ng-blur="updateTotalPrice();" />
										</div>
										<div class="input-group">
											<input type="hidden" class="form-control" id="medicineName" readonly="readonly"
												ng-model="medicineBills.medicineName" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class="">Price(per 1 Item)</span></span> <input type="number"
												class="form-control" id="price" ng-model="medicineBills.price" readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Schedule Type </span></span> <input
												type="text" class="form-control" id="scheduleType" ng-model="medicineBills.scheduleType" readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Batch No.</span></span> <input
												type="text" id="batchNo" ng-model="medicineBills.batchNo" class="form-control" readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Manufacture
													Company</span></span> <input type="text" id="manufactureCompany" ng-model="medicineBills.manufactureCompany"
												class="form-control" readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Manufacture Date</span></span>
											<input type="date" id="manufactureDate" ng-model="medicineBills.manufactureDate" class="form-control"
												readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Expire Date</span></span> <input
												type="date" id="expireDate" ng-model="medicineBills.expireDate" class="form-control" readonly="readonly" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Total Price</span></span> <input
												type="number" id="totalPrice" ng-model="medicineBills.totalPrice" class="form-control" readonly="readonly" />
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" ng-click="saveMedicine();" class="btn btn-custom-2 btn-sm">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/
		         
	   /* // Alternative date picker for not supported date inout type. For example firefox           
		$('#currentDate').datepicker({
			maxDate : new Date
		}); */
		var app = angular.module('app', []);
		app.controller("BillingCtrl",
		function($scope, $http) {

			var today = new Date();
		    var dd = today.getDate();
		    var mm = today.getMonth()+1; //January is 0!

		    var yyyy = today.getFullYear();
		    if(dd<10){
		        dd='0'+dd
		    } 
		    if(mm<10){
		        mm='0'+mm
		    } 
		    debugger;
		    var today = dd+'/'+mm+'/'+yyyy;
		    $scope.currentDate = today;
			
			$scope.medicines = [];
			$scope.medicineBills = {};
			$scope.medicineNames = [];
			$scope.billings = [];
			$scope.price = '';
			$scope.quantity = '';
			$scope.printForm = true;//disable
			
			$scope.getPatientId = function(){
				debugger;
				$http({
					url : contextPath + "/billing/getPatientId",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse){
					debugger;
					var data = dataResponse.data;
					$("#patientId").val(data);
				})
			}
			
			$scope.getBillNo = function(){
				debugger;
				$http({
					url : contextPath + "/billing/getBillNo",
					method: 'GET',
					dataType : 'json'
				}).then(function(dataResponse){
					debugger;
					var data = dataResponse.data;
					$scope.billNo = data;
					$("#billNo").val(data);
				})
			}

			$scope.filterMedicines = function(item) {
				debugger;
				var medicines = $scope.medicines;
				if(medicines.medicineName.contains(item)){
					$scope.medicineNames.push(medicines.medicineName);
				}
			};
			
			$scope.getMedicines = function() {
				debugger;
				$http({
					url : contextPath + "/medicine/list/get",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					debugger;
					var data = dataResponse.data;
					$scope.medicines = data;
					for(var i = 0; i < $scope.medicines.length; i++){
						$scope.medicineNames.push($scope.medicines[i].medicineName); 
				    }
				});
			};
			
			$scope.getMedicineBillInfo = function() {
				debugger;
				$scope.patientId = document.getElementById('patientId').value;
				$http({
					url : contextPath + "/billing/get/bill/" + $scope.patientId,
							method : 'GET',
							dataType : 'json'
						}).then(function(dataResponse) {
					debugger;
					var data = dataResponse.data;
					$scope.billings = data;
					$scope.drName = $scope.billings[0].drName;
					$scope.patientName = $scope.billings[0].patientName;
				});
			};
			
			$scope.getTotalBill = function() {
			    var total = 0;
			    for(var i = 0; i < $scope.billings.length; i++){
			        var billing = $scope.billings[i];
			        total += billing.totalPrice;
			    }
			    return total;
			}

			$scope.updateMedicineDetails = function() {
				debugger;
				var MedicineDetails = $scope.medicineItem;
				// Update details on option selection
				$("#medicineName").val(MedicineDetails.medicineName);
				$("#scheduleType").val(MedicineDetails.scheduleType);
				$("#batchNo").val(MedicineDetails.batchNo);
				$("#manufactureCompany").val(MedicineDetails.manufactureCompany);
				$("#manufactureDate").val(MedicineDetails.manufactureDate);
				$("#expireDate")
						.val(MedicineDetails.expireDate);
				$("#price").val(MedicineDetails.price);
			};

			$scope.clearMedicineModal = function() {
				$("#medicineName").val('');
				$("#scheduleType").val('');
				$("#batchNo").val('');
				$("#manufactureCompany").val('');
				$("#manufactureDate").val('');
				$("#expireDate").val('');
				$("#price").val('');
				$("#quantity").val('');
				$("#totalPrice").val('');
				$(".add-medicine-modal").modal("hide");
			};

			$scope.updateTotalPrice = function() {
				debugger;
				var price = document.getElementById('price').value;
				var quantity = document
						.getElementById('quantity').value;
				var totalPriceDetails = price * quantity;
				$scope.clearTotalPrice();
				// Update details on option selection
				$("#totalPrice").val(totalPriceDetails);

				/* TODO: Update actual quantity in medicines list in Home page */
			};

			$scope.clearTotalPrice = function() {
				$("#totalPrice").val('');
			}
			$scope.showAddMedicineModel = function() {
				debugger;				
				if($scope.currentDate || $scope.drName || $scope.patientName) {
				  $scope.clearMedicineModal();
				  $(".add-medicine-modal").modal("show");
				} else{
					alert('Please fill the * fields');
				}
			}
			$scope.saveMedicine = function() {
				debugger;
				$scope.medicineBills.createdDate = $scope.date;
				$scope.medicineBills.medicineName = document
						.getElementById('medicineName').value;
				$scope.medicineBills.scheduleType = document
						.getElementById('scheduleType').value;
				$scope.medicineBills.manufactureCompany = document
						.getElementById('manufactureCompany').value;
				$scope.medicineBills.batchNo = document
						.getElementById('batchNo').value;
				$scope.medicineBills.manufactureDate = document
						.getElementById('manufactureDate').value;
				$scope.medicineBills.expireDate = document
						.getElementById('expireDate').value;
				$scope.medicineBills.price = document
						.getElementById('price').value;
				$scope.medicineBills.totalPrice = document
						.getElementById('totalPrice').value;
				$scope.medicineBills.patientId = document
						.getElementById('patientId').value;
				$http({
					url : contextPath + "/billing/add",
					method : 'POST',
					dataType : 'json',
					'headers' : {
						'Content-Type' : 'application/json'
					},
					data : $scope.medicineBills
				}).then(function(dataResponse) {
					debugger;
					var data = dataResponse.data;
					if (data.status == "success") {
						$.growl('The Medicine bill is updated successfully.',
							{
								type : 'success'
							});
						$scope.clearMedicineModal();
						$scope.getMedicineBillInfo();
					} else {
						$.growl('Error occured while updating Medicine bill.',
							{
								type : 'danger'
							});
					}
				});
			}
			
			$scope.printBill = function(divName) {
			     var printContents = document.getElementById(divName).innerHTML;
			     var originalContents = document.body.innerHTML;
			     document.body.innerHTML = printContents;
			     window.print();
			     document.body.innerHTML = originalContents;
			     location.reload();
			}
			
			$scope.getMedicines();
			$scope.getPatientId();
			$scope.getBillNo();
		});
		
		function validateDate() {
			debugger;
			var str = document.getElementById('currentDate').value;
			var res = str.split("/");
			var day = Number(res[0]);
			var month = Number(res[1]);
			var year = Number(res[2]);
			if (month > 12 || day > 31) {
				alert('Please enter a valid date in that is month should < 12, day should be < 31 and year should 4 digits');
				document.getElementById("currentDate").value = str;
				document.getElementById("currentDate").focus();
			}
		}
		/*]]>*/
	</script>
</body>
</html>
