<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Add Medicine</title>
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>Medicine</li>
						<li class="active">AddMedicine</li>
					</ul>
				</div>
			</div>
			<div class="container clearfix">
				<div class="row">
					<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Add Medicine Form</h1>
							<div class="md-margin"></div>
						</header>
						<div th:replace="fragments/errormessage"></div>
						<form action="#" th:action="@{/medicine/add}" th:object="${medicine}" method="post"
							id="add-medicine-form">
							<!-- hidden field required for edit mode -->
							<input type="hidden" th:field="*{id}" />

							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<fieldset>

										<div class="md-margin"></div>
										<h1 class="sub-title">Medicine Info</h1>

										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Medicine
													Name*</span></span> <input type="text" class="form-control" th:field="*{medicineName}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class="">Price(per 1 Item)*</span></span> <input
												type="number" class="form-control" th:field="*{price}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class="">Quantity*</span></span> <input
												type="number" class="form-control" th:field="*{quantity}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Schedule
													Type* </span></span>
											<p>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="scheduleType"
													value="H" th:field="*{scheduleType}" /> H &nbsp;&nbsp;&nbsp;<input type="radio"
													name="scheduleType" value="L" th:field="*{scheduleType}" /> L
											</p>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Batch
													No.*</span></span> <input type="text" class="form-control" th:field="*{batchNo}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Manufacture
													Company*</span></span> <input type="text" class="form-control" th:field="*{manufactureCompany}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Manufacture
													Date*</span></span> <input type="date" class="form-control" placeholder="DD/MM/YYYY"
												th:field="*{manufactureDate}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span class="input-text">Expire
													Date*</span></span> <input type="date" class="form-control" placeholder="DD/MM/YYYY"
												th:field="*{expireDate}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=" "></span><span class="input-text">Rack
													Name</span></span> <select class="form-control" th:field="*{rackName}">
												<option value="">Select Rack</option>
												<option th:each="rack : ${racks}" th:value="${rack.rackName}" th:text="${rack.rackName}"></option>
											</select>
										</div>
									</fieldset>
								</div>

							</div>


							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<fieldset class="half-margin">
										<button class="btn btn-custom-2" type="submit">Save</button>
									</fieldset>
								</div>
							</div>
						</form>
						<div class="lg-margin"></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		$(function() {
			$("#add-medicine-form").validate({
				rules : {
					medicineName : {
						required : true
					},
					manufactureCompany : {
						required : true
					},
					manufactureDate : {
						required : true
					},
					expireDate : {
						required : true
					},
					price : {
						required : true
					},
					quantity : {
						required : true
					},
					scheduleType : {
						required : true
					},
					batchNo : {
						required : true
					},

				},
				submitHandler : function(form) {
					$("#add-medicine-form").unbined("submit").submit();
				}
			});
		});

		/*]]>*/
	</script>

</body>
</html>