<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css"/>
<title>Billing</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>PMS</li>
						<li class="active">Billing</li>
					</ul>
				</div>
			</div>
			<div class="container" ng-controller="BillingController" id="BillingController">
				<div class="row">
					<div class="col-md-12">
						<div class="">
							<p>
								<a th:href="@{/billing/add}" class="btn btn-success btn-lg" role="button"> <span
									class="glyphicon glyphicon-plus"></span>&nbsp;Add Billing
								</a>
							</p>
						</div>
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Date</th>
									<th class="table-title">Patient Name</th>
									<th class="table-title">Patient ID</th>
									<th class="table-title al">Total Price</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="billing in billings">
									<td>{{$index+1}}</td>
									<td class="al">{{billing.createdDate}}</td>
									<td class="al">{{billing.patientName}}</td>
									<td class="al">{{billing.patientId}}</td>
									<td class="al">{{billing.totalPrice}}</td>
									<td>
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a th:href="@{/billing/update/{{billing.id}}}" role="button"><span
															class="glyphicon glyphicon-pencil" /></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete" ng-click="deleteBilling();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>

	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		app.controller("BillingController", function($scope, $http) {

			$scope.action = null;
			$scope.billings = [];
			$scope.get = function() {

				$http({
					url : contextPath + "/billing/list",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.billings = data;
				});
			};

			/* $scope.showEditMedicineModal = function() {
				debugger;
				$scope.action = "update";
				var medicineId = this.medicine.id;
				$http(
						{
							url : contextPath
									+ "/medicine/update/"
									+ medicineId,
							method : 'GET',
							dataType : 'json'
						}).then(function(dataResponse) {
					var data = dataResponse.data;
				});
			}; 
			$scope.deleteMedicine = function() {
				var result = confirm("Want to delete?");
				if (result == true) {
					//debugger;
					var medicineId = this.medicine.id;
					$http(
							{
								url : contextPath
										+ "/medicine/delete/"
										+ medicineId,
								method : 'GET',
								dataType : 'json',
							})
							.then(
									function(dataResponse) {
										var data = dataResponse.data;
										if (data.status == "success") {
											$
													.growl(
															'The Medicine is deleted successfully.',
															{
																type : 'success'
															});
											$scope.get();
										} else {
											$
													.growl(
															"Error occured while deleting the Medicine.",
															{
																type : 'danger'
															});
										}
									});
				}
			}*/

			$scope.get();
		});

		/*]]>*/
	</script>
</body>
</html>