<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>Expire</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>PMS</li>
						<li class="active">Expire</li>
					</ul>
				</div>
			</div>
			<div class="container" ng-controller="ExpireController" id="ExpireController">
				<div class="row">
					<div class="col-md-12">
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Medicine Name</th>
									<th class="table-title al">Manufacturing Company</th>
									<th class="table-title al">Manufacture Date</th>
									<th class="table-title al">Expire Date</th>
									<th class="table-title al">Price</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="medicine in medicines">
									<td>{{$index+1}}</td>
									<td class="al">{{medicine.medicineName}}</td>
									<td class="al">{{medicine.manufactureCompany}}</td>
									<td class="al">{{medicine.manufactureDate}}</td>
									<td class="al">{{medicine.expireDate}}</td>
									<!-- <td class="al">{{medicine.rackName}}</td> -->
									<td class="al">{{medicine.price}}</td>
									<!-- <td>										
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a
															th:href="@{/medicine/update/{{medicine.id}}}"
															role="button"><span class="glyphicon glyphicon-pencil" /></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete"
															ng-click="deleteMedicine();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
											</table>
											</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		app.controller("ExpireController", function($scope, $http) {

			$scope.medicines = [];
			$scope.get = function() {
				debugger;
				$http({
					url : contextPath + "/expire/get/listExpired",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.medicines = data;
				});
			};

			$scope.get();
		});
		/*]]>*/
	</script>
</body>
</html>