<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>HOME</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>PMS</li>
						<li class="active">Home</li>
					</ul>
				</div>
			</div>
			<div class="container" ng-controller="HomeController" id="HomeController">
				<div class="row">
					<!-- Search filter starts -->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Search By</h3>
						</div>
						<div class="md-margin"></div>
						<div class="input-group">
							<span class="input-group-addon"><span class="col-md-10 col-sm-10">Medicine Name</span></span>
							<span class="col-md-10 col-sm-10"> <input type="text" class="form-control"
								ng-model="medicineName" placeholder="Enter Medicine Name starts with"
								data-ng-change="filterList()" />
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- <div class="">
								<p>
									<a th:href="@{/student/add}" class="btn btn-success btn-lg"
										role="button"> <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
										New Student
									</a>
								</p>
							</div> -->
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Medicine Name</th>
									<th class="table-title">Batch No.</th>
									<th class="table-title">Schedule Type</th>
									<th class="table-title al">Manufacture Company</th>
									<th class="table-title al">Manufacture Date</th>
									<th class="table-title al">Expire Date</th>
									<th class="table-title al">RackName</th>
									<th class="table-title al">Quantity</th>
									<th class="table-title al">Price</th>


								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="medicine in medicines">
									<td>{{$index+1}}</td>
									<td class="al">{{medicine.medicineName}}</td>
									<td class="al">{{medicine.batchNo}}</td>
									<td class="al">{{medicine.scheduleType}}</td>
									<td class="al">{{medicine.manufactureCompany}}</td>
									<td class="al">{{medicine.manufactureDate}}</td>
									<td class="al">{{medicine.expireDate}}</td>
									<td class="al">{{medicine.rackName}}</td>
									<td class="al">{{medicine.quantity}}</td>
									<td class="al">{{medicine.price}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		app.controller("HomeController", function($scope, $http) {

			$scope.medicines = [];
			$scope.get = function() {
				$http({
					url : contextPath + "/medicine/list/get",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.medicines = data;
				});
			};

			$scope.filterList = function() {
				debugger;
				if ($scope.medicineName) {
					$http(
							{
								url : contextPath + "/medicine/filter/"
										+ $scope.medicineName,
								method : 'GET',
								dataType : 'json'
							}).then(function(dataResponse) {
						var data = dataResponse.data;
						$scope.medicines = data;
					});
				} else {
					$scope.get();
				}
			};
			$scope.get();
		});

		/*]]>*/
	</script>
</body>
</html>