<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>Medicine</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>PMS</li>
						<li class="active">Medicine</li>
					</ul>
				</div>
			</div>
			<div class="container" ng-controller="MedicineController" id="MedicineController">
				<div class="row">
					<div class="col-md-12">
						<div class="">
							<p>
								<a th:href="@{/medicine/add}" class="btn btn-success btn-lg" role="button"> <span
									class="glyphicon glyphicon-plus"></span>&nbsp;Add Medicine
								</a>
							</p>
						</div>
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Medicine Name</th>
									<th class="table-title">Batch No.</th>
									<th class="table-title">Schedule Type</th>
									<th class="table-title al">Manufacturing Company</th>
									<th class="table-title al">Manufacture Date</th>
									<th class="table-title al">Expire Date</th>
									<th class="table-title al">RackName</th>
									<th class="table-title al">Quantity</th>
									<th class="table-title al">Price</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="medicine in medicines">
									<td>{{$index+1}}</td>
									<td class="al">{{medicine.medicineName}}</td>
									<td class="al">{{medicine.batchNo}}</td>
									<td class="al">{{medicine.scheduleType}}</td>
									<td class="al">{{medicine.manufactureCompany}}</td>
									<td class="al">{{medicine.manufactureDate}}</td>
									<td class="al">{{medicine.expireDate}}</td>
									<td class="al">{{medicine.rackName}}</td>
									<td class="al">{{medicine.quantity}}</td>
									<td class="al">{{medicine.price}}</td>
									<td>
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a th:href="@{/medicine/update/{{medicine.id}}}" role="button"><span
															class="glyphicon glyphicon-pencil" /></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete" ng-click="deleteMedicine();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		app
				.controller(
						"MedicineController",
						function($scope, $http) {

							$scope.action = null;
							$scope.medicines = [];
							$scope.get = function() {

								$http({
									url : contextPath + "/medicine/list/get",
									method : 'GET',
									dataType : 'json'
								}).then(function(dataResponse) {
									var data = dataResponse.data;
									$scope.medicines = data;
								});
							};

							$scope.showEditMedicineModal = function() {
								debugger;
								$scope.action = "update";
								var medicineId = this.medicine.id;
								$http(
										{
											url : contextPath
													+ "/medicine/update/"
													+ medicineId,
											method : 'GET',
											dataType : 'json'
										}).then(function(dataResponse) {
											debugger;
									var data = dataResponse.data;
								});
							};
							$scope.deleteMedicine = function() {
								var result = confirm("Want to delete?");
								if (result == true) {
									//debugger;
									var medicineId = this.medicine.id;
									$http(
											{
												url : contextPath
														+ "/medicine/delete/"
														+ medicineId,
												method : 'GET',
												dataType : 'json',
											})
											.then(
													function(dataResponse) {
														var data = dataResponse.data;
														if (data.status == "success") {
															$
																	.growl(
																			'The Medicine is deleted successfully.',
																			{
																				type : 'success'
																			});
															$scope.get();
														} else {
															$
																	.growl(
																			"Error occured while deleting the Medicine.",
																			{
																				type : 'danger'
																			});
														}
														$scope.get();
													});
								}
							}
							$scope.get();
						});

		/*]]>*/
	</script>
</body>
</html>