<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>Rack</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li>PMS</li>
						<li class="active">Rack</li>
					</ul>
				</div>
			</div>
			<div class="container" ng-controller="RackController" id="RackController">
				<div class="row">
					<div class="col-md-12">
						<div class="">
							<p>
								<a th:href="@{/rack/add}" class="btn btn-success btn-lg" role="button"> <span
									class="glyphicon glyphicon-plus"></span>&nbsp;Add Rack
								</a>
							</p>
						</div>
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Rack Name</th>
									<th class="table-title al">Rack Column Number</th>
									<th class="table-title al">Rack Row Number</th>
									<th class="table-title al">Description</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="rack in racks">
									<td>{{$index+1}}</td>
									<td class="al">{{rack.rackName}}</td>
									<td class="al">{{rack.rackColoumnNo}}</td>
									<td class="al">{{rack.rackRowNo}}</td>
									<td class="al">{{rack.description}}</td>
									<td>
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a th:href="@{/rack/update/{{rack.id}}}" role="button"><span
															class="glyphicon glyphicon-pencil" /></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete" ng-click="deleteRack();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td>


								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		app.controller("RackController", function($scope, $http) {

			$scope.action = null;
			$scope.racks = [];
			$scope.get = function() {
				$http({
					url : contextPath + "/rack/list/get",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.racks = data;
				});
			};

			$scope.showEditRackModal = function() {

				$scope.action = "update";
				var studentId = this.rack.id;
				//	debugger;
				$http({
					url : contextPath + "/rack/update/" + rackId,
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
				});
			};

			$scope.deleteRack = function() {
				var result = confirm("Want to delete?");
				if (result == true) {
					//debugger;
					var rackId = this.rack.id;
					$http({
						url : contextPath + "/rack/delete/" + rackId,
						method : 'GET',
						dataType : 'json',
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						if (data.status == "success") {
							$.growl('The Rack is deleted successfully.', {
								type : 'success'
							});
						} else {
							$.growl("Error occured while deleting the Rack.", {
								type : 'danger'
							});
						}
						$scope.get();
					});
				}
			}

			$scope.get();
		});
		/*]]>*/
	</script>
</body>
</html>