<!DOCTYPE html>
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../resources/css/stylereport.css" th:href="@{/resources/css/stylereport.css}" />
<title>Medicine Bill Report</title>
</head>
<body>
	<header>
		<h4 align="left">D.L.No 20/21/02/NZ/TG/2005/R &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CASH-MEMO
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ph: 223447, Cell: 9440485410</h4>
		<h4 align="left">T.O.T Nzb/03/1051</h4>

		<h1>+ S.V.N MEDICAL and SURGICALS +</h1>
		<h3>Mamidipally 'X' Road, ARMOOR- 503224</h3>
		<h2>Date:</h2>
		<h3>Dr Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Patient Name:</h3>
	</header>
	<br />
	<br />
	<table>
		<thead>
			<tr>
				<th class="label">SN</th>
				<th class="label">Particular</th>
				<th class="label">Qty</th>
				<th class="label">Schl H/L</th>
				<th class="label">Mfg Com.</th>
				<th class="label">Batch No.</th>
				<th class="label">Exp.Date</th>
				<th class="label">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="billing : ${billings}">
				<td>{{$index+1}}</td>
				<td th:text="${billing.medicineName}" />
				<td th:text="${billing.quantity}" />
				<td th:text="${billing.scheduleType}" />
				<td th:text="${billing.manufactureCompany}" />
				<td th:text="${billing.batchNo}" />
				<td th:text="${billing.expireDate}" />
				<td th:text="${billing.totalPrice}" />
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	<br />
	<h4 align="left">Note: Goods once sold can not taken back.</h4>
	<h2>Signature.</h2>
</body>
</html>
