h1 {
	color: rgb(42, 110, 168);
	font-weight: bold;
	text-align: center;
}

table {
	margin-bottom: 0;
	max-width: 100%;
	border: 1px solid green;
}

td, th {
    border-left: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
}

th {
 	color: rgb(42, 110, 168);
}

table tr td {
	text-align: left;
	font-size: 65%;	
	font-weight: normal;
}

table tr th {
	text-align: center;
	font-size: 80%;	
	font-weight: normal;
}

.description {
	color: gray;
}
p.margin {
    margin: 2cm 5cm 3cm 4cm;
}

